.loginPage{
    margin: 2% auto;
    width: 100%;
    max-width: 30vw;
    border: 2px solid black;
    background: orange;
    padding: 1rem;
}

.loginPage .inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.loginPage button{
    margin: 0.5rem auto;
    display: block;
}