*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    height: 50px;
    background: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;

}



nav .logo{
    color: red;
    font-size: 1.5rem;
} 

nav ul a{
    text-decoration: none;
    color: white;
}